{% extends "layout.html" %}

{% block content %}

<div class="col-md-6" style="margin:auto">
    <div class="text-center">
        <h2>SimpleData</h2>
        <p>

            SimpleData  Aplikacja tą służy do zarządzania magazynem wody "smak" oraz kontrolowania stanu zapasów poprzez komunikat, który otrzymuje kierownik magazynu. Pozwala ona na śledzenie przepływu produktów oraz zarządzanie nimi w czasie rzeczywistym. Dzięki aplikacji magazynowej można w prosty sposób monitorować poziom zapasów. Aplikacja ta umożliwia także generowanie raportów i diagramów, co pozwala na sprawdzenie ile towaru-wody wpłynęło na magazyn, jest aktualnie na magazynie, ile zostało sprzedane.\\
            SimpleData oferuje także funkcje zarządzania fakturami oraz rejestracji nowych kontrahentów. Dzięki możliwości generowania faktur oraz łatwemu zarządzaniu nimi, aplikacja pozwala na sprawną obsługę procesów związanych z fakturami. Rejestracja nowych klientów umożliwia natomiast tworzenie i zarządzanie bazą danych klientów, co ułatwia śledzenie historii zakupów. Wszystkie te funkcje pozwalają na kompleksowe zarządzanie magazynem i skuteczne prowadzenie biznesu.

        </p>
    </div>
</div>

    {% endblock %}

