{% extends "layout.html" %} <!-- pobiearamy szkielet strony  -->
{% block content %}

<div class="col-md-6" style="margin:auto">
    <div class="text-center">
        <h2>SimpleData</h2>

        <p>
            SimpleData
            Aplikacja ta służy do zarządzania magazynem. System wyświetla podgląd aktualnego
            stanu magazynu, umożliwa przepływ towarów, przyjmowanie na magazyn oraz ich wydawanie. Również podsumowuje towary które opuścił magaznym. System odpowiada za lokowanie
            towarów na magazynie.
        </p>
    </div>
</div>

{% endblock content %}

