{% extends "layout.html" %}
{%block content%}

<div class="search-form" style="text-align: center;">
    <h2>Panel kontrahentów</h2>
    <form id="searchForm" action="{{ url_for('kon.kontrahenci_t') }}" method="post" style="display: inline-block;">
        <div class="search-fields">
            <div class="input-wrapper">
                <label for="nip">NIP</label>
                <input type="text" id="nip" name="nip" optional>
            </div>

            <div class="input-wrapper">
                <label for="nazwa_firmy">Nazwa firmy</label>
                <input type="text" id="nazwa_firmy" name="nazwa_firmy" optional>
            </div>
        </div>
        <button id="wyszukajBtn" type="submit" style="display: block; margin-top: 10px;">Wyszukaj</button>
    </form>
</div>
{% if current_user.is_authenticated and current_user.typ == 'Administrator' %}
<button id="add-record-btn" onclick="openDodajPopup()">Dodaj kontrahenta</button>
{% endif %}

<div id="dodajPopup" class="popup">
    <div class="content">
        <span class="close" onclick="closeDodajPopup()">&times;</span>
        <h2>Dodaj</h2>
        <form action="{{ url_for('kon.dodaj_rekord') }}" method="POST">
            <label for="nip">NIP:</label>
            <input type="text" id="nip" name="nip" required>

            <label for="nazwa_firmy">Nazwa firmy:</label>
            <input type="text" id="nazwa_firmy" name="nazwa_firmy" required>

            <label for="miasto">Miasto:</label>
            <input type="text" id="miasto" name="miasto" required>

            <label for="nr_telefonu">Numer telefonu:</label>
            <input type="text" id="nr_telefonu" name="nr_telefonu" required>

            <label for="ulica">Ulica:</label>
            <input type="text" id="ulica" name="ulica" required>

            <label for="numer">Numer:</label>
            <input type="text" id="numer" name="numer" required>

            <label for="rodzaj">Rodzaj:</label>
            <select id="rodzaj" name="rodzaj" required>
                <option value="Dostawca">Dostawca</option>
                <option value="Odbiorca">Odbiorca</option>
            </select>

            <button type="submit">Dodaj</button>
        </form>
    </div>
</div>


<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th class="header-cell">NIP</th>
                <th class="header-cell">Nazwa firmy</th>
                <th class="header-cell">Miasto</th>
                <th class="header-cell">Numer telefonu</th>
                <th class="header-cell">Ulica</th>
                <th class="header-cell">Numer</th>
                <th class="header-cell">Rodzaj</th>
                {% if current_user.is_authenticated and current_user.typ == 'Administrator' %}
                <th class="header-cell">Akcje</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for kontrahent in kontrahenci %}
            <tr>
                <td>{{ kontrahent.NIP }}</td>
                <td>{{ kontrahent.nazwa_firmy }}</td>
                <td>{{ kontrahent.miasto }}</td>
                <td>{{ kontrahent.telefon }}</td>
                <td>{{ kontrahent.ulica }}</td>
                <td>{{ kontrahent.numer }}</td>
                <td>{{ kontrahent.status }}</td>
                {% if current_user.is_authenticated and current_user.typ == 'Administrator' %}
                <td>
                    <button onclick="handleEditButtonClick(this.parentNode.parentNode)">Edytuj</button>
                    <button onclick="confirmDelete('{{ kontrahent.NIP }}')">Usuń</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




<div id="editPopup" class="popup">
    <div class="content">
        <span class="close" onclick="closeEditPopup()">&times;</span>
        <h2>Edytuj kontrahenta</h2>
        <form id="editForm" action="{{ url_for('kon.edytuj_kontrahenta') }}" method="POST">
            <label for="editedField1">NIP :</label>
            <input type="text" id="editedField1" name="editedField1">

            <label for="editedField2">Nazwa firmy:</label>
            <input type="text" id="editedField2" name="editedField2">

            <label for="editedField3">Miasto:</label>
            <input type="text" id="editedField3" name="editedField3">

            <label for="editedField4">Numer telefonu:</label>
            <input type="text" id="editedField4" name="editedField4">

            <label for="editedField5">Ulica:</label>
            <input type="text" id="editedField5" name="editedField5">

            <label for="editedField6">Numer:</label>
            <input type="text" id="editedField6" name="editedField6">

            <label for="editedField7">Rodzaj:</label>
            <select id="editedField7" name="editedField7">
                <option value="Dostawca">Dostawca</option>
                <option value="Odbiorca">Odbiorca</option>
            </select>

            <button type="submit">Zapisz</button>
        </form>
    </div>
</div>



<script>

    $(document).on("click", ".edit-btn", function () {
        var nip = $(this).data('nip');
        var nazwa_firmy = $(this).data('nazwa_firmy');
        var miasto = $(this).data('miasto');
        var nr_telefonu = $(this).data('nr_telefonu');
        var ulica = $(this).data('ulica');
        var numer = $(this).data('numer');
        var rodzaj = $(this).data('rodzaj');
        $("#nip-input").val(nip);
        $("#nazwa_firmy-input").val(nazwa_firmy);
        $("#miasto-input").val(miasto);
        $("#nr_telefonu-input").val(nr_telefonu);
        $("#ulica-input").val(ulica);
        $("#numer-input").val(numer);
        $("#rodzaj-input").val(rodzaj);
    });


    function openDodajPopup() {
        document.getElementById('dodajPopup').style.display = 'block';
    }

    function closeDodajPopup() {
        document.getElementById('dodajPopup').style.display = 'none';
    }

    function handleEditButtonClick(row) {
        var nip = row.cells[0].innerText;
        var nazwa_firmy = row.cells[1].innerText;
        var miasto = row.cells[2].innerText;
        var nr_telefonu = row.cells[3].innerText;
        var ulica = row.cells[4].innerText;
        var numer = row.cells[5].innerText;
        var rodzaj = row.cells[6].innerText;

        document.getElementById('editedField1').value = nip;
        document.getElementById('editedField2').value = nazwa_firmy;
        document.getElementById('editedField3').value = miasto;
        document.getElementById('editedField4').value = nr_telefonu;
        document.getElementById('editedField5').value = ulica;
        document.getElementById('editedField6').value = numer;
        document.getElementById('editedField7').value = rodzaj;

        openEditPopup();
    }

    function openEditPopup() {
        var editPopup = document.getElementById('editPopup');
        editPopup.style.display = 'block';
    }

    function closeEditPopup() {
        var editPopup = document.getElementById('editPopup');
        editPopup.style.display = 'none';
    }

    function saveEditedData(event) {
        event.preventDefault();

        var nip = document.getElementById('editedField1').value;
        var nazwa_firmy = document.getElementById('editedField2').value;
        var miasto = document.getElementById('editedField3').value;
        var nr_telefonu = document.getElementById('editedField4').value;
        var ulica = document.getElementById('editedField5').value;
        var numer = document.getElementById('editedField6').value;
        var rodzaj = document.getElementById('editedField7').value;

        // Wywołaj endpoint do aktualizacji danych na serwerze
        fetch('/kontrahenci', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                editedField1: nip,
                editedField2: nazwa_firmy,
                editedField3: miasto,
                editedField4: nr_telefonu,
                editedField5: ulica,
                editedField6: numer,
                editedField7: rodzaj
            })
        })
            .then(response => response.json())
            .then(data => {

            })
            .catch(error => {

            });
    }



    function openwyszukajBtn() {
        event.preventDefault();

        var form = document.getElementById('NIP');
        var formData = new FormData(form);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', form.action);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var responseData = JSON.parse(xhr.responseText);
                updateTable(responseData);
            } else {
                console.error('Wystąpił błąd. Status żądania: ' + xhr.status);
            }
        };
        xhr.send(formData);
    }

    function updateTable(data) {
        var tableBody = document.querySelector('.table tbody');
        tableBody.innerHTML = '';

        data.forEach(function (record) {
            var row = document.createElement('tr');
            row.innerHTML = '<td>' + record.NIP + '</td>' +
                '<td>' + record.nazwa_firmy + '</td>' +
                '<td>' + record.miasto + '</td>' +
                '<td>' + record.telefon + '</td>' +
                '<td>' + record.ulica + '</td>' +
                '<td>' + record.numer + '</td>' +
                '<td>' + record.rodzaj + '</td>' +
                '<td><button onclick="openEditPopup()">Edytuj</button></td>';

            tableBody.appendChild(row);
        });
    }

    function confirmDelete(nip) {
        if (confirm("Czy na pewno chcesz usunąć tego kontrahenta?")) {

            fetch('/kontrahenci/' + nip, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {

                        alert("Kontrahent został usunięty.");
                        location.reload();
                    } else {

                        alert("Wystąpił błąd podczas usuwania kontrahenta.");
                    }
                })
                .catch(error => {

                    alert("Wystąpił błąd podczas usuwania kontrahenta.");
                });
        }
    }



</script>



{%endblock%}