{% extends "layout.html" %}
{%block content%}


<button id="wyszukajBtn" onclick="openWyszukajPopup()">Wyszukaj</button>

<button id="add-record-btn" onclick="openDodajPopup()">Dodaj kontrahenta</button>


<div id="dodajPopup" class="popup">
    <div class="content">
        <span class="close" onclick="closeDodajPopup()">&times;</span>
        <h2>Dodaj</h2>
        <form action="{{ url_for('dodaj_rekord') }}" method="POST">
            <label for="nip">NIP:</label>
            <input type="text" id="nip" name="nip" required>

            <label for="nazwa_firmy">Nazwa firmy:</label>
            <input type="text" id="nazwa_firmy" name="nazwa_firmy" required>

            <label for="miasto">Miasto:</label>
            <input type="text" id="miasto" name="miasto" required>

            <label for="nr_telefonu">Numer telefonu:</label>
            <input type="text" id="nr_telefonu" name="nr_telefonu" required>

            <label for="ulica">Ulica:</label>
            <input type="text" id="ulica" name="ulica" required>

            <label for="numer">Numer:</label>
            <input type="text" id="numer" name="numer" required>

            <button type="submit">Dodaj</button>
        </form>
    </div>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th class="header-cell">NIP</th>
                <th class="header-cell">Nazwa firmy</th>
                <th class="header-cell">Miasto</th>
                <th class="header-cell">Numer telefonu</th>
                <th class="header-cell">Ulica</th>
                <th class="header-cell">Numer</th>
            </tr>
        </thead>
        <tbody>
            {% for kontrahenci_t in kontrahenci %}
            <tr>
                <td>{{ kontrahenci_t.NIP }}</td>
                <td>{{ kontrahenci_t.nazwa_firmy }}</td>
                <td>{{ kontrahenci_t.miasto }}</td>
                <td>{{ kontrahenci_t.telefon }}</td>
                <td>{{ kontrahenci_t.ulica }}</td>
                <td>{{ kontrahenci_t.numer }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="wyszukajPopup" class="popup">
    <div class="content">
        <span class="close" onclick="closeWyszukajPopup()">&times;</span>
        <h2>Wyszukaj kontrahenta</h2>
        <form action="{{ url_for('kontrahenci_t') }}" method="post">
            <label for="nip">NIP:</label>
            <input type="text" id="nip" name="nip" opcional>

            <label for="nazwa_firmy">Nazwa firmy:</label>
            <input type="text" id="nazwa_firmy" name="nazwa_firmy" opcional>

            <button type="submit">Wyszukaj</button>
        </form>
    </div>
</div>

<script>

    $(document).on("click", ".edit-btn", function () {
        var nip = $(this).data('nip');
        var nazwa_firmy = $(this).data('nazwa_firmy');
        var miasto = $(this).data('miasto');
        var nr_telefonu = $(this).data('nr_telefonu');
        var ulica = $(this).data('ulica');
        var numer = $(this).data('numer');
        $("#nip-input").val(nip);
        $("#nazwa_firmy-input").val(nazwa_firmy);
        $("#miasto-input").val(miasto);
        $("#nr_telefonu-input").val(nr_telefonu);
        $("#ulica-input").val(ulica);
        $("#numer-input").val(numer);
    });

    function openWyszukajPopup() {
        document.getElementById('wyszukajPopup').style.display = 'block';
    }

    function closeWyszukajPopup() {
        document.getElementById('wyszukajPopup').style.display = 'none';
    }

    function openDodajPopup() {
        document.getElementById('dodajPopup').style.display = 'block';
    }

    function closeDodajPopup() {
        document.getElementById('dodajPopup').style.display = 'none';
    }


</script>

</div>

{%endblock%}