{% extends "layout.html" %}
{%block content%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-inline">
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.rodzaj.id }}" class="form-control-label">{{ form.rodzaj.label }}</label>
                    </div>
                    {{ form.rodzaj(class="form-control ml-2") }}
                </div>
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.numer.id }}" class="form-control-label">{{ form.numer.label }}</label>
                    </div>
                    {{ form.numer(class="form-control ml-2") }}
                </div>
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.data_od.id }}" class="form-control-label">{{ form.data_od.label }}</label>
                    </div>
                    {{ form.data_od(class="form-control ml-2") }}
                </div>
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.data_do.id }}" class="form-control-label">{{ form.data_do.label }}</label>
                    </div>
                    {{ form.data_do(class="form-control ml-2") }}
                </div>
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.kontrahent.id }}" class="form-control-label">{{ form.kontrahent.label }}</label>
                    </div>
                    {{ form.kontrahent(class="form-control ml-2") }}
                </div>
            </div>
        </fieldset>


        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{%endblock%}
