{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated and current_user.typ == 'Administrator' %}
<div class="col-md-6" style="margin:auto">
    <div class="content-section">
        <form method="POST" action="" class="text-center">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Zarejestruj użytkownika</legend>
                <div class="form-group">
                    {{ form.Nazwa.label(class="form-control-label") }}
                    {% if form.Nazwa.errors %}
                    {{ form.Nazwa(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.Nazwa.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.Nazwa(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.haslo.label(class="form-control-label") }}
                    {% if form.haslo.errors %}
                    {{ form.haslo(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.haslo.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.haslo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.haslo2.label(class="form-control-label") }}
                    {% if form.haslo2.errors %}
                    {{ form.haslo2(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.haslo2.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.haslo2(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.typ_uzytkownika.label(class="form-control-label") }}
                    {% if form.typ_uzytkownika.errors %}
                    {{ form.typ_uzytkownika(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.typ_uzytkownika.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.typ_uzytkownika(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3 text-center">
        <small class="text-muted">
            <a class="ml-2" href="{{ url_for('users.login') }}">Zaloguj się</a>
        </small>
    </div>
</div>
{%endif%}
{% endblock %}

