{% extends "layout.html" %}
{%block content%}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-inline">
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.imie.id }}" class="form-control-label">{{ form.imie.label }}</label>
                    </div>
                    {{ form.imie(class="form-control ml-2") }}
                </div>
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.email.id }}" class="form-control-label">{{ form.email.label }}</label>
                    </div>
                    {{ form.email(class="form-control ml-2") }}
                </div>
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.haslo.id }}" class="form-control-label">{{ form.haslo.label }}</label>
                    </div>
                    {{ form.haslo(class="form-control ml-2") }}
                </div>
                <div class="form-group mr-3 mb-2 d-block">
                    <div class="d-block text-center">
                        <label for="{{ form.typ.id }}" class="form-control-label">{{ form.typ.label }}</label>
                    </div>
                    {{ form.typ(class="form-control ml-2") }}
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{%endblock%}
