
.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
    padding: 15px;
}

    .navbar a {
        text-decoration: none;
        color: inherit;
    }

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 5%;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 5%;
}

.body-content {
    margin: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

footer {
    text-align: center;
}

ul.navbar-nav {
    margin-left: 80%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d2d4d3;
}
.container {
    background-color: #f7faf8;
    padding:60px;
}

.body-content {
    padding-left: 25px;
    padding-right: 25px;
}


input,
select,
textarea {
    max-width: 280px;
}


.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.form-inline .form-group label {
    text-align: center;
}
#add-record-btn {
    float: left;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup.active {
        display: block;
}
    .popup .content {
        background-color: #fff;
        padding: 20px;
        text-align: center;
    }

    .popup h2 {
        margin-top: 0;
    }

    .popup form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popup label {
        margin-bottom: 10px;
    }

    .popup input {
        width: 200px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .popup button {
        padding: 10px 20px;
    }
#wyszukajBtn {
    float: right;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.header-cell {
    font-weight: bold;
    background-color: #f2f2f2;
}
